@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* Sets the background color of the body to blue. Sets font to Rubik */

body {
  background-color: #f3f5f7;
  font-family: 'rubik', sans-serif;
}

/* Aligns the heading text to the center. */
 
h1 {
  text-align: center;
}

/* Sets the width for the accordion. Sets the margin to 90px on the top and bottom and auto to the left and right */

.accordion {
  width: 800px;
  margin: 90px auto;
  color: black;
  background-color: white;
  padding: 45px 45px;

  hr {
    width: 100;
    margin-left: 0;
    border: 1px solid grey;
  }

  .container {
    position: relative;
    margin: 10px 10px;
    .content {
        position: relative;
        background: white;
        height: 0;
        font-size: 20px;
        text-align: justify;
        width: 780px;
        overflow: hidden;
        transition: 0.5s;
      }

      &.active{
        .content{
            height: 150px;
        }

        .label{
            &::after{
                content: "-";
            }
        }
      }
  }

  .label {
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    color: black;
    cursor: pointer;

    &::after{
        content: '+';
        color: black;
        position: absolute;
        top: 50%;
        right: -5px;
        font-size: 30px;
        transform: translateY(-50%);
    }
  }
  
}

  